*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #666d89;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;q
}

/* Wrapper */

.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Get a Quote */


.quote {
    background-color: #f06c64;
    height: 654px;
    border-bottom: 6px solid #ea676b;
    color: #f0d8d9;
}

.quote__title {
    font-size: 30px;
    font-weight: 900;
    padding-top: 60px;
    margin-bottom: 17.5px;
}

.quote__description {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 44px;
}

.quote__form {
    display: flex;
    justify-content: space-between;
}

.feedback {
    width: 620px;
}

input[type=text], input[type=email] {
    width: 100%;
    height: 38.5px;
    padding: 15px;
    background-color: #d6564f;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 16px;
}

#project {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 202px;
    background-color: #d6564f;
    border-radius: 5px;
    border: none;
    padding: 15px;
    padding-top: 10px;
    resize: none;
    font-size: 12px;
    font-weight: 400;
}

#fname::placeholder,
#email::placeholder,
#project::placeholder,
#subject::placeholder {
    color: #f48c8f;
}




.contact_information {
    width: 300px;

}

.contact_information_title {
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 11px;


}

.contact_information_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 21px;
}

.location-icon {
    background: url(assets/img/location.png) no-repeat center;
    height: 13px;
    width: 12px;
    margin-right: 10px;

}

.phone-icon {
    background: url(assets/img/phone2.png) no-repeat center;
    height: 13px;
    width: 12px;
    margin-right: 10px;
}

.email-icon {
    background: url(assets/img/mail.png) no-repeat center;
    height: 13px;
    width: 12px;
    margin-right: 10px;
}

.contacts-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    color: #f0d8d9;
    display: flex;
    align-items: center;
}

/* Footer */

.footer {
    background-color: #2d303a;
    height: 76px;
}

.copyright {
    font-size: 12px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 2px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    margin-top: 22px;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666d89;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.social__item:not(:last-child) {
    margin-right: 8px;
}

.social__icon {
    display: block;
    height: 15px;
    fill: #666d89;
}


.social__item:hover {
    background-color: #666d89;
}

.social__item:hover .social__icon {
    fill: #f2f2f2;
}

#submit {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f06c64;
    font-size: 12px;
    font-weight: 400;
    color: #f2f2f2
}

#submit:hover {
    cursor: pointer;
    color: #f06c64;
    background-color: #f2f2f2;
}
