*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #666d89;

}



/* Wrapper */

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Header */

main {
    margin-top: 95px
}

.header {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    scroll-margin-top: 95px;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
}

.logo_link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

h1 {
    padding-bottom: 6px;
}

.logo_link:after{
    content: "*";
    color: #f06c64
}

.color {
    color: #f06c64;
}

.nav {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 8px;
}
.nav_link {
    text-decoration: none;
    color: #fff;
    transition: color .2s linear;

}

.nav_active {
    color: #f06c64;
}

.nav_link:hover {
    color: #f06c64;
}


.nav_link:not(:last-child):after  {
    content: "·";
    color: #424758;
    margin-left: 12.5px;
    margin-right: 12.5px;

}

.hamburger-menu {
	display: none;
}

#menu__toggle {
	opacity: 0;
	position: absolute;
}

#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 9px;
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: -12px;
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
	z-index: 11;
}

.menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	top: 23px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 12;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: relative;
	width: 100%;
	height: 3px;
	background-color: white;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 6px;
}

.menu__box {
	display: flex;
    flex-direction: column;
	position: fixed;
    visibility: hidden;
    padding-left: 90px;
    padding-top: 230px;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	background-color: #2d303a;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .25s;
}

.menu__item {
	display: block;
	color: white;
	font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
    text-decoration: none;
    margin-bottom: 27px;
    text-transform: uppercase;
	transition-duration: .25s;
}
.menu__item:hover {
	color: #f06c64;
}




/* Slider */

.slider {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    transition: all 0.5s linear;

}

.slider_blue {
    background: #648bf0;
    border-color: #648bf0;
    transition: all 0.5s linear;
  }

.carousel 
{
    position: relative;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel_item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    margin: 0 auto;
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}


.to-left {
    animation-name: left;
}
  
  .from-right {
    animation-name: right;
}
  
  .to-right {
    animation-name: right;
    animation-direction: reverse;
}
  
  .from-left {
    animation-name: left;
    animation-direction: reverse;
}
  
  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
}
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
}

.phones1 {
    background-color: #f06c64;
    height: 483px;
    width: 796px;
    position: relative;
    margin: 54px 112px 57px;

}

.phones2 
{
    background: url(./assets/img/slider2.png) center no-repeat;
    height: 594px;
    width: 1020px;

}

.verphone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.verphone_shadow {
    position: absolute;
    z-index: 1;
}

.horphone {
    position: absolute;
    z-index: 2;
    transform: rotate(90deg);
    right: 146px;
    top: 0px;
}

.horphone_shadow {
    position: absolute;
    right: 0;
    top: 120px;
    z-index: 1;
}

.screen1 {
    left: 14px;
    top: 64px;
    position: absolute;
    background: url(./assets/img/screen1.png);
    background-position: -14px -135px;
    height: 333px;
    width: 189px;
    z-index: 3;
}

.screen2 {
    right: 90px;
    top: 134px;
    position: absolute;
    background: url(./assets/img/screen2.png);
    background-position: -122px -119px;
    height: 189px;
    width: 334px;
    z-index: 3;
}

.screen_off {
    background: black;
}

.arrow_left {
    position: absolute;
    left: 4%;
    top: 45%;
    z-index: 6;
    height: 27px;
    width: 16px;
    fill: #E94348;
    transition: fill .2s linear;
}

.arrow_right {
    position: absolute;
    right: 4%;
    top: 45%;
    z-index: 6;
    height: 27px;
    width: 16px;
    fill: #E94348;
    transition: fill .2s linear;
}

.arrow_left:hover{
    fill: #f2f2f2;
}

.arrow_right:hover {
    fill: #f2f2f2;
}

/* Services */

.services {
    display: flex;
    background-color: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 29px;
    border-bottom: 6px solid #fff;
}


.services__title {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 18px;
}

.services__desc
{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}

.services_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 46px;
}


.service_item {
    flex-basis: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
    height: 90px;
}

.item__logo {
    margin-top: 1px;
    margin-left: 1px;
}

.item__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    text-align: justify;
    width: 220px;
    overflow: hidden;
}

.item__title {
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 9px;
}

/* Portfolio */

.portfolio {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    display: flex;
}

.portfolio__inner {
    padding-top: 53px;
    padding-bottom: 49px;
}

.portfolio__title {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.7;
    margin-bottom: 15px;
}

.portfolio__description {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}

.portfolio__buttons {
    margin-bottom: 18px;

}


.portfolio_btn {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    height: 22px;
    color: #767e9e;
    background-color: #2d303a;
    border: 1px solid #767e9e;
    border-radius: 5px;
    outline: none;
    padding: 0px 6px;
    margin-right: 7px;

}

.portfolio_btn:hover {
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
}

.portfolio_btn_active {
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
}

.works {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}


.works__item {
    margin-bottom: 16px;
}

.works__item img {
    width: 100%;
    height: 98%;
}

.works__item:nth-child(1n+13) {
    display: none;
}

.works__item:hover {
    cursor: pointer;
}

.works__item_active {
    outline: 5px solid #F06C64;
}

/* About Us */

.aboutus {
    background-color: #f2f2f2;
    /* height: 734px; */
    border-bottom: 6px solid #fff;
    padding-bottom: 66px;
}

.aboutus__inner {
    padding-top: 60px;
}

.aboutus__title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 17px;
}

.aboutus__description {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 46px;
}

.designers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.designers__item {
    width: calc( (100% - 40px) / 3);
}

.designers__photo img {
    width: 100%;
    height: 100%;
}

.designers__name {
    font-size: 18px;
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 8px;
    width: 100%;
    height: 22px;
    overflow: hidden;
}

.designers__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: justify;
    margin-bottom: 24px;
}

.social {
    display: flex;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666d89;
    height: 32px;
    width: 32px;
    border-radius: 50%;

}

.social__item:not(:last-child) {
    margin-right: 8px;
}

.social__icon {
    display: block;
    height: 15px;
    fill: #666d89;
}


.social__item:hover {
    background-color: #666d89;
}

.social__item:hover .social__icon {
    fill: #f2f2f2;
}

/* Get a Quote */


.quote {
    background-color: #f06c64;
    /* height: 654px; */
    border-bottom: 6px solid #ea676b;
    color: #f0d8d9;
    padding-bottom: 24px;
}

.quote__title {
    font-size: 30px;
    font-weight: 900;
    padding-top: 60px;
    margin-bottom: 17.5px;
}

.quote__description {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 44px;
}

.quote__form {
    display: flex;
    justify-content: space-between;
    
}

.feedback {
    width: 66%;
}

input[type=text], input[type=email] {
    width: 100%;
    height: 38.5px;
    padding: 15px;
    background-color: #d6564f;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 16px;
    outline: none;
    color: #f0d8d9;
}

#description {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 202px;
    background-color: #d6564f;
    border-radius: 5px;
    border: none;
    padding: 15px;
    padding-top: 10px;
    resize: none;
    font-size: 12px;
    font-weight: 400;
    outline: none;
    color: #f0d8d9;
}

#fname::placeholder,
#email::placeholder,
#description::placeholder,
#subject::placeholder {
    color: #f48c8f;
}




.contact_information {
    width: 32%;

}

.contact_information_title {
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 11px;


}

.contact_information_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 21px;
}

.location-icon {
    background: url(assets/img/location.png) no-repeat center;
    height: 13px;
    width: 12px;
    margin-right: 10px;

}

.phone-icon {
    background: url(assets/img/phone2.png) no-repeat center;
    height: 13px;
    width: 12px;
    margin-right: 10px;
}

.email-icon {
    background: url(assets/img/mail.png) no-repeat center;
    height: 13px;
    width: 12px;
    margin-right: 10px;
}

.contacts-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    color: #f0d8d9;
    display: flex;
    align-items: center;
}

/* Footer */

.footer {
    background-color: #2d303a;
    /* height: 76px; */
    padding-bottom: 20px;
}

.copyright {
    font-size: 12px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 2px;
}

.social-margin {
    margin-top: 22px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

#submit_btn {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f06c64;
    font-size: 12px;
    font-weight: 400;
    color: #f2f2f2
}

#submit_btn:hover {
    cursor: pointer;
    color: #f06c64;
    background-color: #f2f2f2;
}

/* Message block */

.message_block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0008;
    z-index: 999;
}

.message_hidden {
    display: none;
}

#message {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -75px;
    width: 250px;
    background-color: #2d303a;
    border-radius: 5px;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    word-wrap: break-word;
}

#close_btn {
    border: 1px solid #d6564f; 
    border-radius: 5px;
    background-color: #d6564f; 
    color: #f2f2f2;
    width: 80px;
    height: 25px;
    cursor: pointer;
    font-weight: 300;
}

#close_btn:hover {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2; 
    color: #d6564f;
}

#message p {
    margin: 0;
    margin-bottom: 10px;
}


@media (max-width: 768px) {


    .slider, .slider__inner {
        width: 100%;
        height: 451.76px;
    }

    .carousel_item {
        height: 451.76px;
    }

    .phones1 {

        width: 599.48px;
        height: 363.74px;
        margin: 0px;
        position: absolute;
        top: 40px;
        left: 85px;

    
    }
    
    .phones2 
    {
        background-size: cover;
        width: 768px;
        height: 451.76px;
    
    }
    
    .verphone {
        top: 0;
        left: 0;
        width: 162.36px;
        height: 344.26px;
    }
    
    .verphone_shadow {
        width: 180.71px;
        height: 363.67px;
    }
    
    .horphone {
        right: 112px;
        top: 0px;
        width: 162.36px;
        height: 344.26px;
    }
    
    .horphone_shadow {
        right: 0;
        top: 92px;
        width: 363.67px;
        height: 180.71px;
    
    }
    
    .screen1 {
        left: 10px;
        top: 48px;
        height: 250.73px;
        width: 141.55px;

    }

    .screen2 {
        right: 69px;
        top: 101px;
        height: 141.55px;
        width: 250.73px;
    }   

    .works__item {
		width: calc( (100% - 15px) / 2);
		height: auto;
		max-width: 220px;
	}

	.works__item img {
		width: 100%;
		height: auto;
		max-width: 220px;
	}
    
 
}

@media (max-width: 730px) {
    .slider, .slider__inner {
        height: 218.38px;
    }

    .carousel_item {
        height: 218.38px;
    }

    .phones1 {

        width: 292.72px;
        height: 177.61px;
        margin: 0px;
        position: absolute;
        top: 20px;
        left: 45px;

    
    }
    
    .phones2 
    {
        background-size: cover;
        width: 375.49px;
        height: 220.59px;
    
    }
    
    .verphone {
        top: 0;
        left: 0;
        width: 79.28px;
        height: 168.1px
    }
    
    .verphone_shadow {
        width: 88.24px;
        height: 177.57px;
    }
    
    .horphone {
        right: 55px;
        top: 0px;
        width: 79.28px;
        height: 168.1px;
    }
    
    .horphone_shadow {
        right: 0;
        top: 45px;
        width: 177.57px;
        height: 88.24px;
    
    }
    
    .screen1 {
        left: 4.7px;
        top: 23.6px;
        height: 122.43px;
        width: 69.12px;

    }

    .screen2 {
        right: 34.6px;
        top: 49px;
        height: 69.12px;
        width: 122.43px;
    }   

    .arrow_left, .arrow_right {
        top: 40%;
    }
}

@media (max-width: 570px) {
    .hamburger-menu {
        display: block;
    }

    .nav {
        display: none;
    }

    main {
        margin-top: 76px;
    }

    .header__inner {
        height: 71px;
        justify-content: center;
    }
}

@media (max-width: 550px) {
    .designers {
        flex-direction: column;
    }
    
    .designers__item {
        width: 100%;
    }

    .designers__item:not(:last-child) {
        margin-bottom: 34px;
    }

    .quote__form {
        flex-direction: column;
    }

    .feedback {
        width: 100%;
        margin-bottom: 30px;
    }

    #submit_btn {
        width: 100%;
    }

    .contact_information {
        width: 100%;
    }

}

@media (max-width: 375px) {

    .wrapper {
        padding: 0 30px;
    }
    .works__item:nth-child(n + 9) {
		display: none;
    }

    .works__item {
        margin-bottom: 10px;
    }

    .copyright {
        display: none;
    }

    .footer__inner {
        justify-content: center;
    }
}
